---
title: About Me
styles:
  - about
---
%section.bio.short
  %img.adamstegman{:src => "/images/adamstegman.jpg", :width => "200", :height => "150", :alt => 'Picture of Adam Stegman'}
  %p
    I work for Cerner in Kansas City. I got my BS in CS at
    %a{:href => 'http://www.k-state.edu/'} Kansas State University
    and graduated in 2009. I've worked in several languages, but I enjoy
    %a{:href => 'http://www.ruby-lang.org/'} Ruby
    the most currently. I like to focus on product development and user experience.
%section.bio.long
  %p I love product-focused development, and don't shy away from maintenance. I am very excited by the Internet and app stores and how easy it is today to get a project started. Most of my web work has been in Ruby on Rails, but I also enjoy the core technologies of HTML, CSS, and JavaScript.
  %p Additionally, I love learning, but mostly applying, clever, cleaner ways to do things. I enjoy ensuring things are complete - documented, tested, and released. The opposite rubs me the wrong way - a lack of documentation, hard-to-find resources, or ugly code.
  %p I'm an evangelist for documentation and best practices. I don't like to let bad code sit and try to keep code I touch cleaner than how I found it.

  %h3 Preferences

  %p I use things that enable me, like a clean, fast text editor and the terminal. That means tools like Rake and Maven help me accomplish my work by automating repetitive tasks. Overstuffed IDEs fill me with stressed rage. Most of them barely function as actual editors, they concentrate on other features.
  %p Configuration must be avoided as much as possible.

  %h3 A little history

  %p I started with simple MUD-like dungeons written in QBasic when I was a child and moved on to more complex, but useful, .NET applications in college. New ideas and projects excite me to no end, though it's always been challenging to drive a project through to a polished end-state.
