---
title: Projects
---
<p>
  I tend to work on projects that address needs that I have.
  For now I'm not shooting for income, but rather enjoyment and personal utility.
</p>

<% if any_projects_with_status?(:deployed) %>
<hr class="project-activity">

<section class="deployed">
  <h3>Deployed</h3>
  <ol class="project-list deployed">
    <% sorted_projects_by_status(:deployed).each do |project| %>
      <li><%= render '_project', project: project %></li>
    <% end %>
  </ol>
</section>
<% end %>

<% if any_projects_with_status?(:development) %>
<hr class="project-activity">

<section class="development">
  <h3>Under Development</h3>
  <ol class="project-list development">
    <% sorted_projects_by_status(:development).each do |project| %>
      <li><%= render '_project', project: project %></li>
    <% end %>
  </ol>
</section>
<% end %>

<% if any_projects_with_status?(:retired) %>
<hr class="project-activity">

<section class="retired">
  <h3>Retired</h3>
  <ol class="project-list retired">
    <% sorted_projects_by_status(:retired).each do |project| %>
      <li><%= render '_project', project: project %></li>
    <% end %>
  </ol>
</section>
<% end %>
