---
title: Projects
---
<% if any_projects_with_status?(:contracted) %>
<hr class="project-activity">

<section class="development">
  <h3>Contracted Work</h3>
  <ol class="project-list contracted">
    <% sorted_projects_by_status(:contracted).each do |project| %>
      <li><%= render project_partial(project), project: project %></li>
    <% end %>
  </ol>
</section>
<% end %>

<% if any_projects_with_status?(:deployed) %>
<hr class="project-activity">

<section class="deployed">
  <p>
    When it comes to personal projects, I tend to work on projects that address needs that I have.
    For now I'm not shooting for income, but rather enjoyment and personal utility.
  </p>

  <ol class="project-list deployed">
    <% sorted_projects_by_status(:deployed).each do |project| %>
      <li><%= render project_partial(project), project: project %></li>
    <% end %>
  </ol>
</section>
<% end %>

<% if any_projects_with_status?(:development) %>
<hr class="project-activity">

<section class="development">
  <h3>Under Development</h3>
  <ol class="project-list development">
    <% sorted_projects_by_status(:development).each do |project| %>
      <li><%= render project_partial(project), project: project %></li>
    <% end %>
  </ol>
</section>
<% end %>

<% if any_projects_with_status?(:retired) %>
<hr class="project-activity">

<section class="retired">
  <h3>Retired</h3>
  <ol class="project-list retired">
    <% sorted_projects_by_status(:retired).each do |project| %>
      <li><%= render project_partial(project), project: project %></li>
    <% end %>
  </ol>
</section>
<% end %>
