---
title: 1life
subtitle: Electronic medical record and provider application for One Medical
status: contracted
dates_worked_on: April 2015 - present
created_at: 2015-04-08
kind: project
---
<section class="intro">
  <img src="/images/om.png" alt="One Medical Logo" width="250" height="120" class="logo"/>
  <p>
    At <a href="http://www.onemedical.com/jobs/">One Medical</a> I worked on 1life, the electronic medical record and provider application used by the clinical teams.
  </p>
</section>

<section class="description">
  <p>
    1life has been developed alongside the rest of the company since it started several years ago.
    It is written in Ruby on Rails and is deployed to <a href="https://aws.amazon.com/elasticbeanstalk/">Elastic Beanstalk on Amazon Web Services</a>.
  </p>
  <p>
    There are several components to the project.
  </p>
  <ul>
    <li>API</li>
    <li>Provider application</li>
    <li>Admin application</li>
    <li>Patient application</li>
  </ul>
  <p>
    There is a browser client for the API embedded in the provider application.
    Separate projects contain additional clients that the API supports.
  </p>
</section>
