---
title: AdamStegman.com
source_url: https://github.com/adamstegman/adamstegman.github.com
deployed_url: http://adamstegman.com/
status: deployed
created_at: 2011-07-27T02:43Z
created_at_text: July 26, 2011
kind: project
---
<section class="intro">
  <img src="/images/adamstegman.jpg" alt="Adam Stegman" width="200" height="150" class="logo"/>
  <p>
    <a href="http://adamstegman.com/">AdamStegman.com</a> is my personal website.
  </p>
</section>

<section class="description">
  <p>
    It's the website you're on now.
  </p>
  <p>
    The website is intended to be a source for my identity, my resume, and my portfolio.
    It will always be evolving.
  </p>
  <p>
    Based on a project on Github called <a href="https://github.com/meskyanichi/nanoc-heroku">Nanoc::Heroku</a>, it is a website consisting of only static files compiled by a Ruby library called <a href="http://nanoc.stoneship.org/">Nanoc</a>.
  </p>
  <p>
    I write the markup in <a href="http://daringfireball.net/projects/markdown/">Markdown</a> or HTML, styles in <a href="http://sass-lang.com/">Sass</a>, and scripts in JavaScript.
  </p>
</section>
