---
title: Baby Alarm for iOS
subtitle: Indicate time to a toddler
status: back-burner
created_at: 2012-05-13T03:09Z
created_at_text: May 12, 2012
kind: project
---
.intro
  %p
    Baby Alarm for iOS will be an app that indicates to a child whether they should stay in bed and go back to sleep or if they can get up.

.description
  %p
    The alarm uses two states, awake and asleep, in addition to cartoony animal imagery to indicate to the child the time.
    For instance, if the image is in the asleep state, the child remembers that they should also be asleep.
  %p
    Because of its nature as an app, this will necessitate an iOS device be left within view of the child's bed.
