---
title: BOSH
subtitle: An open source tool chain for release engineering, deployment and lifecycle management of large scale distributed services
deployed_url: http://bosh.io
source_url: https://github.com/cloudfoundry/bosh
status: contracted
dates_worked_on: February 2014 - October 2014
created_at: 2014-02-01
ended_at: 2014-10-31
kind: project
---
<section class="intro">
  <img src="/images/bosh.png" alt="BOSH Icon" width="405" height="115" class="logo"/>
  <p>
    After working on client projects for my first few months at Pivotal Labs, I was asked to work on BOSH.
    BOSH had been started at Google and VMware and was still actively developed at Pivotal.
  </p>
</section>

<section class="description">
  <p>
    I helped the BOSH team do some rewrites of parts of the codebase that were not performing well and needed to be rethought for new goals.
  </p>
  <p>
    BOSH consists of many components, but primarily:
  </p>
  <ul>
    <li>a director service that coordinates actions involving the distributed systems it manages</li>
    <li>an agent that runs on every VM BOSH creates via its custom machine images</li>
    <li>a messaging system (<a href="http://nats.io">NATS</a>) enabling communication between all the components of the system</li>
  </ul>
  <p>
    BOSH is written mostly in Ruby, with some components in Go.
    It makes use of several infrastructure services: AWS, vSphere, and OpenStack in particular.
  </p>
</section>
