---
title: Cerner Store
subtitle: Online storefront for Cerner clients to purchase from and publish to
deployed_url: https://store.cerner.com
status: contracted
dates_worked_on: July 2009 - July 2011
created_at: 2009-07-13
ended_at: 2011-07-31
kind: project
---
<section class="intro">
  <img src="/images/cerner-store.png" alt="Cerner Store Icon" width="40" height="36" class="logo"/>
  <p>
    The Cerner Store is an online storefront that enables Cerner clients to purchase some Cerner solutions and publish their own work built on top of Cerner solutions.
  </p>
</section>

<section class="description">
  <p>
    A Rails application written to support the then-new CSS3 and still support IE6 as the most popular browser.
    It accepts user-written content and handles user accounts with Oauth.
    Items are indexed for search using Solr.
  </p>
</section>
