---
title: devise_saml_authenticatable
subtitle: SAML authentication strategy for devise, an authentication plugin for Ruby on Rails
source_url: https://github.com/apokalipto/devise_saml_authenticatable
status: contracted
dates_worked_on: June 2015 - present
created_at: 2015-06-04
kind: project
---
<section class="intro">
  <img src="/images/devise.png" alt="devise Logo" width="300" height="125" class="logo"/>
  <p>
    With one other engineer, I finished the basic functionality of <a href="https://github.com/apokalipto/devise_saml_authenticatable">devise_saml_authenticatable</a>, then offered continued support and maintenance for the project.
  </p>
</section>

<section class="description">
  <p>
    Our <a href="1life.html">internal application</a> at <a href="http://www.onemedical.com/jobs/">One Medical</a> needed single sign-on (SSO) to support better security practices for our providers and admins.
    We already used <a href="https://github.com/plataformatec/devise">devise</a> for authentication, so we looked for a SAML plugin.
    All we found was an unfinished plugin, but we saw that it wouldn't take too much work to finish the functionality we needed.
  </p>
  <p>
    We contacted the author, <a href="https://github.com/apokalipto">Josef Sauter</a> and he gave us committer access.
    Within a couple weeks, we'd finished enough functionality to call it 1.0.
    We followed up with a couple more features, and since then have helped the community solve issues, add features, and keep up to date with Rails and devise updates.
  </p>
  <p>
    The plugin uses <a href="https://github.com/onelogin/ruby-saml">ruby-saml</a> to deal with parsing and verifying SAML responses, and generating SAML requests.
  </p>
</section>
