---
title: Git Push for iOS
subtitle: Push changes to a Github repository from iOS
status: retired
created_at: 2011-07-30T01:58Z
created_at_text: July 29, 2011
ended_at: 2012-12-06T02:38:43Z
kind: project
---
<section class="intro">
  <img src="/images/git-push.png" alt="Git Push Icon" width="128" height="128" class="logo"/>
  <p>
    Git Push for iOS was to be an app that used <a href="http://developer.github.com/v3/git/">Github's API</a> to POST a commit blob to a Github repository.
  </p>
  <p>
    I stopped working on Git Push in 2012 due to enlarging scope and unclear vision.
  </p>
</section>

<section class="description">
  <p>
    Previously my blog was on <a href="http://adamstegman.tumblr.com/">Tumblr</a>, so I could update it from anywhere using the <a href="http://itunes.apple.com/us/app/tumblr/id305343404?mt=8">iPhone application</a>.
    Now, since I host my <a href="/">website</a> and <a href="http://blog.adamstegman.com/">blog</a> myself now and keep all the code on <a href="https://github.com/adamstegman/adamstegman">Github</a>, I need to keep on top of updates.
  </p>
  <p>
    To do that, I want to be able to write a post from anywhere.
    I found the right platform in <a href="https://github.com/meskyanichi/nanoc-heroku">Nanoc::Heroku</a> which you can read more about on the <a href="/projects/adamstegman.html">AdamStegman.com project page</a>.
    Nanoc::Heroku supports <a href="http://daringfireball.net/projects/markdown/">Markdown</a> pages, which I could easily write from my iPhone or iPad.
  </p>
  <p>
    Unfortunately, there are two key steps missing once I've written something on a mobile device.
  </p>
  <ul>
    <li>Commit the post to Github</li>
    <li>Run the deploy script</li>
  </ul>
  <p>
    Currently, the former is not possible from an iOS device (as far as I can tell).
    To remedy this, I'm writing Git Push.
  </p>
  <p>
    It will create the requisite objects, then use <a href="http://developer.github.com/v3/git/">Github's new API</a> to create a commit in the remote repository.
  </p>
  <p>
    This is an extremely powerful capability.
    I have not yet decided the best user experience for this, but it will likely involve Dropbox or something else instead of allowing in-app editing of files at first.
  </p>
</section>
