---
title: My Kind of Stupid
source_url: https://github.com/adamstegman/my_kind_of_stupid
deployed_url: http://blog.adamstegman.com/
status: deployed
created_at: 2011-07-27T02:43Z
created_at_text: July 26, 2011
kind: project
---
<section class="intro">
  <p>
    <a href="http://blog.adamstegman.com/">My Kind of Stupid</a> is my personal blog.
  </p>
</section>

<section class="description">
  <p>
    My blog contains my thoughts mostly on development topics, but may also touch on other areas.
    Generally it will consist of things I encounter in my daily work.
  </p>
  <p>
    Based on a project on Github called <a href="https://github.com/meskyanichi/nanoc-heroku">Nanoc::Heroku</a>, it is a website consisting of only static files compiled by a Ruby library called <a href="http://nanoc.stoneship.org/">Nanoc</a>.
  </p>
  <p>
    I write the markup primarily in <a href="http://daringfireball.net/projects/markdown/">Markdown</a> but HTML is also available.
    I write the styles in <a href="http://sass-lang.com/">Sass</a> and scripts in JavaScript.
  </p>
</section>
