---
title: My Kind of Stupid
source_url: https://github.com/adamstegman/my_kind_of_stupid
deployed_url: http://blog.adamstegman.com/
status: deployed
created_at: 2011-07-27T02:43Z
created_at_text: July 26, 2011
kind: project
---
.intro
  %p
    %a{:href => 'http://blog.adamstegman.com/'} My Kind of Stupid
    is my personal blog.

.description
  %p My blog contains my thoughts mostly on development topics, but may also touch on other areas. Generally it will consist of things I encounter in my daily work.
  %p
    Based on a project on Github called
    %a{:href => 'https://github.com/meskyanichi/nanoc-heroku'} Nanoc::Heroku
    , it is a website consisting of only static files compiled by a Ruby library called
    %a{:href => 'http://nanoc.stoneship.org/'} Nanoc.
  %p
    I write the markup primarily in
    %a{:href => 'http://daringfireball.net/projects/markdown/'} Markdown
    but
    %a{:href => 'http://haml-lang.com/'} Haml
    is also available. I write the styles in
    %a{:href => 'http://sass-lang.com/'} Sass
    and scripts in
    %a{:href => 'http://jashkenas.github.com/coffee-script/'} CoffeeScript.
