---
title: Oxalates
subtitle: An app that tracks oxalate consumption information
deployed_url: http://oxalates.adamstegman.com
source_url: https://github.com/adamstegman/oxalates
status: deployed
dates_worked_on: August 2014 - present
created_at: 2014-08-17
created_at_text: August 17, 2014
kind: project
---
<section class="intro">
  <img src="/images/oxalates.png" alt="Oxalates Icon" width="152" height="152" class="logo"/>
  <p>
    Oxalates accepts input of foods and their oxalate content.
    It allows a visitor to search for those foods and see their content and category based on serving size.
  </p>
</section>

<section class="description">
  <p>
    When my wife was diagnosed with calcium oxalate kidney stones, we started thinking about how to manage her diet.
    She was able to find information on the oxalate content of many foods through various sources, but needed a place to track all of that and find it on-demand.
    This application allows her to manage that information and view it whenever she likes on her phone.
  </p>
  <p>
    Oxalates is a Ruby on Rails server application.
    There will probably be an iOS client eventually.
  </p>
</section>
