---
title: Photo Albums
subtitle: Yet another photo storage application, but this one does exactly what we want.
status: development
created_at: 2013-12-30T00:48Z
created_at_text: December 29, 2013
kind: project
---
%section.intro
  %p
    A custom photo storage application that does exactly what my wife and I want it to.

%section.description
  %p
    After reviewing the photo storage application landscape on our Mac and iPhones, we are unsatisfied.
    We don't mind paying plenty of money for this valuable service, but no application gives us the right combination of features.
  %p
    The main features we want are centered around targeted photo rediscovery (i.e. search).
    This application will be web-based but support native features where possible to facilitate photo uploading.
  %p
    I'm using this opportunity to learn
    = succeed('.') do
      %a{href: 'http://emberjs.com/'} Ember
