---
title: Pivotal Cloud Ops
subtitle: Operations for the publicly-accessible Pivotal deployment of Cloud Foundry
deployed_url: http://run.pivotal.io
status: contracted
dates_worked_on: October 2014 - present
created_at: 2014-10-01
kind: project
---
<section class="intro">
  <p>
    After working on Cloud Foundry for most of 2014, I wanted to learn more about how it was operated, so I joined the Cloud Ops team in October 2014.
  </p>
</section>

<section class="description">
  <p>
    On Cloud Ops, I primarily built tools to monitor and maintain our infrastructure.
    I had to coordinate software releases among several teams.
    When customers were interested in how to operate the platform they were purchasing, they could bring in someone from the Cloud Ops team to talk about how we operate Pivotal Web Services.
  </p>
  <p>
    Most of our tooling is built in Ruby or bash, and we deploy everything with either BOSH or Cloud Foundry.
  </p>
</section>
