---
title: Read Link Later
subtitle: Instapaper links on Twitter.com
source_url: https://github.com/adamstegman/read-link-later
status: retired
created_at: 2010-08-03T00:26Z
created_at_text: August 3, 2010
kind: project
---
.intro
  %img{:src => '/images/read-link-later.png', :alt => 'Read Link Later Icon', :width => '128', :height => '128', :class => 'logo'}
  %p
    %a{:href => 'https://chrome.google.com/webstore/detail/mffbgadohiiggcibdgmogfdlmackfbhm'} Read Link Later
    was a Chrome extension that added "Read Later" links to tweets on
    %a{:href => 'http://twitter.com/'} twitter.com
    that have URLs.
  %p I retired Read Link Later in 2012. Twitter keeps updating and I needed to allocate time to other projects instead of this extension.

.description
  %p It handled multiple URLs in a single tweet and updated with the timeline.
  %p
    %img{:src => '/images/read-link-later-screenshot.png', :alt => 'Water Wars Screenshot', :width => '359', :height => '219', :class => 'screenshot'}
