---
title: Web Queue
subtitle: Better Netflix queue management on any device
status: back-burner
created_at: 2010-08-22T03:20Z
created_at_text: August 21, 2010
kind: project
---
.intro
  %p
    Web Queue is a web application that enables faster, better queue management than what's made available by
    %a{:href => 'http://netflix.com/'} Netflix.

.description
  %h3 Purpose

  %p Netflix does not offer good queue management from mobile devices. The web interface is clearly not meant for mobile consumption and the iOS app is slow to the point of frustration.
  %p A simple, responsive web application can offer much more flexibility while remaining fast enough to get out of the user's way.
  %p Unfortunately, this will only work for instant queue management. Netflix has removed disc queue API access.

  %hgroup
    %h3 Status
    %h4 Working on API access
  %p The instant queue is available, but management is not in place.
  %p Title search works but has no pagination.

  %p Currently, I am learning how to use the Netflix API. I can retrieve objects based on both signed and protected calls, and am working on parsing them into meaningful objects and making them available to the user.
  %p After basic calls are in place, a basic user interface using only HTML will be the next step. After that I will layer on styles using media queries for an ultimately responsive design.

  %h3 Usage

  %h4 Queue

  %h5 GET /queue (TODO)

  %p The instant queue. This is the launchpad and will allow the user to move or remove items in their instant queue.

  %h4 Search

  %h5 GET /search (TODO)

  %p Searches Netflix's entire catalog.

  %h5 GET /search/titles (TODO)

  %p Searches Netflix's title catalog.

  %h5 GET /search/people (TODO)

  %p Searches Netflix's people catalog.

  %h3 Architecture

  %p Web Queue is written as a Ruby on Rails web application. It uses a SQLite database to store OAuth credentials for each user.

  %h4 Netflix

  %p The Netflix interaction is all in lib/netflix and is meant to serve as an independent library. It may eventually be spun off into a gem if I take the time to make it full-featured.

  %h5 Configuration

  %p
    %code config/netflix.yml
    contains Netflix configuration. The key configuration values are
    %code consumer_key
    and
    %code consumer_secret
    \. The others relate to Netflix API endpoints and will likely remain the same for a while.

  %h5 Netflix::Users

  %p Resources in this namespace belong to a specific user and may not be retrieved or modified without user authorization.

  %h6 Netflix::Users::Queues (TODO)

  %p A utility class that constructs a queue (see next section) after retrieving its details from Netflix.

  %h6 Netflix::Users::Queue (TODO)

  %p A queue, either disc, instant, or saved. Contains a list of the titles in the queue and handles interaction with Netflix for changes to itself.

  %h5 Netflix::Catalog

  %p Catalog resources are available to an application without user authorization and include things like search and people or title information.

  %h6 Netflix::Catalog::Titles

  %p A utility class that sends a search request to Netflix and returns a list of titles (see next section).

  %h6 Netflix::Catalog::Title

  %p A title in Netflix's catalog. Could be a movie or TV series.

  %h6 Netflix::Catalog::People (TODO)

  %p A utility class that sends a search request to Netflix and returns a list of people (see next section).

  %h6 Netflix::Catalog::Person (TODO)

  %p A person in Netflix's catalog.

  %h5 Netflix::Timestamp (TODO)

  %p Retrieves the current timestamp according to Netflix.

  %h5 Netflix::Config

  %p A helper module for retrieving configuration for the library.

  %h5 Netflix::Oauth

  %p Protected resources are retrieved through the Netflix::Oauth class. It handles formatting and signing of the request.

  %h6 Netflix::Oauth.protected_get

  %p Gets a protected resource; that is, a resource only accessible with authorized credentials on behalf of a user. Requires the user id, the user's access token, and the user's access token secret.

  %h6 Netflix::Oauth.signed_get

  %p Gets a resource that requires authentication by the application. These resources are not on behalf of a user and do not require user authorization.
