<article class="project">
  <hgroup>
    <h4><%= link_to(project[:title], project) %></h4>
    <% if project[:subtitle] %>
    <h5><%= project[:subtitle] %></h5>
    <% end %>
  </hgroup>
  <footer>
    <section class="published">
      Created on <time datetime="<%= project[:created_at] %>" pubdate="true"><%= project[:created_at_text] %></time>
    </section>
  </footer>
</article>

